<html data-ng-app="demoApp">
	<head>
		</title></title>
	</head>
	<body>
		<div>
			<div daa-ng-view=""></div>
		</div>
		<!--<div class="container">
			Name: <input type="text" data-ng-model="name"/>{{name}}

			<ul>
				<li data-ng-repeat="child in customers">{{child.name}}</li>
			</ul>

			Enter Name: <input type="text" data-ng-model="Search"/>

			<ul>
				<li data-ng-repeat="child in customers | filter:Search">{{child.name | uppercase}} is in {{child.city}}</li>
			</ul>

		</div>-->

		<script src="JS/angular.js"></script>
		<!--<script src="JS/angular-route.js"></script>-->
		<script src="controller/simpleController.js"></script>
	</body>
</html>
